body{
	 overflow-x: hidden;
	 height: auto;
	 overflow-y: hidden;

}
header{
	 width:98%;
	 height:60px;
	 background-color: #0A1B2A;
	 color:#fff;
	 font-family:Arial;
	 border: 1px solid #fff;
	 border-radius: 0px;
	 margin-left: 1%;
}
header p{
	float: right;
	font-size: 1.6em;
	font-weight: lighter;
	margin: 0;
	padding: 0;
	padding-right: 0.5%;
}
header h4{
	font-size: 1.4em;
	font-family: arial;
	font-weight: lighter;
	
}
section i{
	color: lime;
	font-size: 1.2em;
}
p1{
	color: #fff;
	margin-left: 10px;
	font-size: 1.2em;
}
nav{
	width: 100%;
	height:32px;
	background-color: #AAB7B8;
	margin-top: 0px;
	font-size:17px;
	margin-right:0px;
	
}

#navbar{
	background-color:white;
	margin-top: 5px;
	border: 1px solid black;
	width: 98%;
	margin-left: 1%;
	
}

#navbar ul
{
	list-style:none;
	position:relative;
	margin-top: 0;
	padding:0
	
}
#navbar #logout {
	width: 8%;
	background-color: maroon;
	color: #fff;
	float:right;
	position:relative;
	margin:0;
	padding:0px;
	height: 28px;
	margin: 2px;
	border-radius: 4px;
}

#navbar #logout:hover{
	background-color: #000;

}
#navbar ul a
{
	display:block;
	color:#fff;
	text-decoration:none;
	font-size:13px;
	height: auto;
	text-align: center;
	font-family:Arial;

}

#navbar ul li{
	background-color: #0A1B2A;
	position:relative;
	float:left;
	margin:0;
	padding:0px;
	border-radius:0px;
	margin-left:2px;
	width:130px;
	line-height: 28px;
	margin-top: 2px;
}
#navbar ul li.active
{	
	background-color:#16A085;
	color: #000;
	margin: 0;
	padding: 0;
	position:relative;
	line-height: 28px;
	margin-top: 2px;
	margin-left:2px;
}
#navbar ul .active
{
	background-color:#16A085;
	border-radius:0px;
	margin: 0;
	padding: 0px;
	position:relative;
}

#navbar ul li:hover
{
	background-color:maroon;
	color: #000;
	border-radius:0px;
}

#navbar ul ul
{	height: 30px;
	display:none;
	position:absolute;
	margin-top: 0px;
	left:0;
	background:#fff;
	border-radius:0px;
}

#navbar ul ul li
{
	float:left;
	width:100%;
	background-color: #424242;
	border-radius:0px;
	height: auto;
	margin: 0;
	margin-top: 0.5px;
	margin-bottom: 0.5px;
	padding-top: 1px;
}
#navbar ul ul li.active
{
	float:left;
	width:100%;
	border-radius:0px;
	height: auto;
	margin: 0;
	margin-top: 0.5px;
	margin-bottom: 0.5px;
	padding-top: 1px;
}
#navbar ul ul a
{
	line-height: 30px;
	padding:0;
}

#navbar ul ul ul
{
	top:0;
	/*left:100%;*/
}

#navbar ul li:hover > ul
{
	display:block;
}
body{
	
	height: 600px;
}
.container{
	height: 600px;
	
}
section{
	margin-left: 1%;
	width: 20%;
	background:url(../images/acc2.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	height: 600px;
	margin-top: 5px;
	float: left;
}
section .nav{
	width: 80%;
	height: 500px;
	background-color: #5DADE2;
	margin: 10%;
	margin-top: 40px;
	border-radius: 8px;
}
.nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-size: 0.9em;
 
}
.nav #button{
	margin-top: 50px;
}
.nav button{
	margin-top: 10px; 
	width: 90%;
	margin-left: 5%;
	height: 30px;
	font-size: 1.0em;
	border: none;
	border-radius: 4px;
	color: #fff;
	background-color: #641E16;
	text-align: left;

}
.nav button:hover{
	color: #fff;
	background-color: #000;
	
}
.nav a {
  
}

/*li a.active {
    background-color: #000;
    color: white;
    border-radius: 5px;
}

li a:hover:not(.active) {
    background-color: #555;
    color: white;
    border-radius: 5px;
}*/
aside{
	height: 600px;
	width: 77.5%;
	margin-top: 5px;
	background-color: gray;
	float: right;
	margin-right: 1%;
	
}
aside .sear{
	height: 80px;
	width: 99%;
	background-color: black;
	border: 1px solid #fff;
	margin-left: 0.5%;
	margin-top: 5px;
}
.search{
	height: 80px;
	width: 30%;
	border: none;
	float: left;
}
.search input{
	height: 30px;
	width: 50%;
	font-size: 1.0em;
	border: none;
	margin-top: 5px;
	margin-left: 5%;
	border-radius: 3px;
}
.search button{
	height: 25px;
	width: 40%;
	font-size: 1.0em;
	border: none;
	margin-top:12px;
	margin-left: 5%;
	border-radius: 3px;
	background-color: blue;
	color: #fff;
}
.search button:hover{
	background-color: #2874A6;
}
.input{
	float: right;
	height: 80px;
	width: 69.5%;
	
}
.input table{
	height: 100%;
	width: 100%;
	color: #fff;
	
}
table tr,th,td{
	border: 1px solid #fff;
	color: #fff;
}
table tr{
	outline: none;
}
table th{
	border: none;
	border-bottom: 1px solid gray;
	height: 30px;
	text-align: left;
	font-weight: lighter;
	font-size: 1.0em;
	font-family: arial;
	color: #2874A6;

}
table td{
	border: none;
	height: 30px;
	font-size: 1.0em;
	font-family: arial;
	margin-bottom: 25px;
	color: #D5F5E3;
}
.body{
	height: 507px;
	width: 99%;
	background-color: black;
	border: 1px solid #fff;
	margin-left: 0.5%;
	margin-top: 3px;
}
footer{
	height: 50px;
	width: 98%;
	margin-left: 1%;
	background-color: #0A1B2A;
	margin-top: 10px;
	margin-bottom: 10px;
	font-size: 1.1em;
	font-family: arial;
	color: white;
	text-align: center;
	padding-top: 5px;
}
footer a{
	color: lime;
}
footer a:hover{
	color: gray;
}